main {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 70px;
  width: 100%;
  height: 100%;
}

.container-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 62%;
}

.container-top .logo {
  width: 85%;
}

.container-top .subtitle {
  color: var(--secondary);
  font-size: 3.7rem;
  line-height: 4.6rem;
  font-weight: 400;
  padding-right: 45px;
  width: 100%;
}

.container-right {
  width: 50%;
  height: 100%;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  height: 100%;
}

.container-buttons {
  width: 100%;
  height: 20%;
  align-items: center;
}

.link-findEco {
  text-decoration: none;
}

.button {
  display: flex;
  width: 100%;
  height: 25%;
  margin-bottom: 35px;
}

.button img {
  padding-right: 15px;
}

.search {
  color: var(--terceary);
  display: flex;
}

.truck {
  color: var(--terceary);
}

.truck p {
  margin-left: -5px;
}

.container-right img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  main {
    overflow: hidden;
  }
  .container-left .subtitle {
    font-size: 2.1rem;
  }
  .container-left .container-top {
    height: 55%;
  }
  .container-left {
    height: 83%;
  }
  .container-right {
    height: 83%;
  }
}

@media (max-width: 425px) {
  main {
    overflow: auto;
  }
  .wrapper {
    /* padding: 60px 20px 20px 20px; */
    padding: 0;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: 5vh auto;
  }
  .container-left .logo {
    width: 80%;
  }
  .container-left .subtitle {
    font-size: 2.1rem;
    padding: 0 10%;
  }
  .container-left .container-top {
    height: 50%;
    width: 100%;
    align-items: center;
  }
  .container-left .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 40%;
  }
  .container-left .container-buttons .button {
    width: max-content;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 25px 10px;
    
  } 
  .container-left .container-buttons .button:active {
    cursor: pointer;
    border: 1px solid var(--terceary);;
    border-radius: 5px;
    transition: all 1s ease;
  }
  .container-left .container-buttons .search {
    margin-bottom: 15px;
  }
  .container-left {
    height: 55vh;
    width: 100%;
    align-items: center;
  }
  .container-right {
    display: flex;
    justify-content: center;
    order: -1;
    height: 40vh;
    width: 100%;
  }
  .container-right img {
    height: 100%;
    width: 85%;
  }
}
@media (max-width: 375px) {
  .container-left .container-top .logo {
    width: 65%;
  }
  .container-left .subtitle {
    font-size: 1.8rem;
    text-align: center;
  }
}