main {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
 
.wrapper {
  width: 90%;
  height: 80%;
  margin:  9rem auto 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}


.container-left {
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.container-top {
  display: flex;
  flex-direction: column;
}

.subtitle {
  width: 70%;
  margin-top: 5rem;

  font-size: 3rem;
  color: var(--secondary);
}

.logo{
  width: 75%;
}

.container-buttons {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.button p {
  color: var(--terceary);
}

.button img {
  margin-right: 1.5rem;
}

.search {
  margin-bottom: 3rem;
}

.container-right {
  width: 50%;
}

.container-right img {
  width: 90%;
}
