* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color default */
  --primary: #2c9b5f;
  --secondary: #125c34;
  --terceary: #ffffff;
  --text-primary: #9C98A6;
  --box-primary: #FAFAFC;
  --border-primary: #E6E6F0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--primary);
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
