.rm {
  margin: 2rem 5rem;
}

.container-top {
  width: 90%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.wrapper {
  background-color: white;
  width: min(90%, 800px);
  margin: 0 auto 7rem;
  padding-top: 0.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.container-top .logo {
  width: 114px;
  height: 36px;
}

.container-form {
  height: 100%;
}

.container-form h1 {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-primary);
  color: var(--secondary);
}

label {
  margin-top: 1rem;
  color: var(--text-primary);
}

input {
  height: 5rem;
  background-color: var(--box-primary);
  margin: 1rem 0;
  padding: 1rem;

  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
}

input:focus {
  outline-color: var(--primary);
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.inputPosition {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputPosition fieldset:nth-child(1) {
  width: 40rem;
  margin-right: 1rem;
}

.inputPosition fieldset:nth-child(2) {
  width: 40rem;
}

/* ITENS COLETAVEIS */

.itemsCollection {
  margin-top: 4rem;
}

.subtitle {
  margin: 0 5rem 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subtitle h2 {
  color: var(--secondary);
}

.subtitle p {
  color: var(--text-primary);
}

.selectItems {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  width: 21rem;
  height: 21rem;
  background-color: var(--box-primary);
  border: 1px solid var(--border-primary);
  margin: 1rem;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  cursor: pointer;
}

.item p {
  color: #9c98a6;
  margin-top: 1rem;
}

.itemActive {
  background-color: #EBFFF4;
  border: 0.7rem solid var(--primary);
}

/* FOOTER */

.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7rem 5.5rem;
  margin-top: 4rem;
  
  background-color: var(--box-primary);
  border-top: 1px solid var(--border-primary);
}

.messageErrorActive {
  display: flex;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  align-items: center;
}

.messageErrorActive img {
  margin-right: 1rem;
}

.messageErrorActive p {
  color: var(--text-secondary);
}

.footer button {
  font-size: 1.6rem;
  color: var(--terceary);
  padding: 2rem 3rem; 
  cursor: pointer;

  border: none;
  border-radius: 0.5rem;

  background-color: #E00303;
}

.footer button:focus {
  outline-style: none;
}

@media (max-width: 877px) {
  .item {
    margin: 0.5rem;
  }


  .message img{
    width: 60%;
  }
  
  .message p {
    margin-top: 6rem;
  }
}

@media (max-width: 514px) {
  .inputPosition {
    width: 100%;
    flex-direction: column;
  }
  
  .inputPosition fieldset:nth-child(1) {
    width: 100%;
  }

  .inputPosition fieldset:nth-child(2) {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    padding-top: 2rem;
  }

  .footer button {
    margin-top: 2rem;
  }

  .message p {
    font-size: 3rem;
    margin: 2rem 2rem;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .subtitle {
    flex-direction: column;
  }

  .subtitle h2, .subtitle p {
    font-size: 2.5rem;
  }

  .subtitle p {
    font-size: 1.5rem;
  }

  .subtitle p {
    margin-bottom: 1rem;
  }

}


.message {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.message p {
  margin-top: 3rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}